*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------BODY----------------*/
body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
  }
  a {
    color: var(--bs-blue);
  }
/*----------------BODY CIERRE-----------*/

/*----------------- INICIO NAV--------- */

 .nav{
    display:flex;
    justify-content:left;
    align-items: center;
    background-color: rgba(255, 255, 254, 0.778);
    min-height: 70px;
    font-size: 1.3rem;
}  
.nav ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 20px 10px 20px;
    
}
li{
    padding: 10px;
    height: 100px;
    font-weight: 600;
}

.button-whats{
    display: flex;
    height: 100px;
    padding:auto;
    margin-top: 25px;
    font-weight: 600;
    
}

.button{
    background-color: rgba(86, 230, 84, 0.337);
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 170px;
    height: 40px;
    font-weight: bold;
    border-radius: 50px;
}


.enlaces-menu li:hover{
    background-color: rgba(197, 173, 39, 0.13);
}
/*---------------FIN DE NAV ----------------*/
    

    
/*------------MEDIA QUERY-----------*/

@media (max-width: 680px){

    #intro{
        width: 90% !important;
    }
        .servicio-fila{
            width: 100% !important;
            text-align: center;
        }
    header{
    flex-direction: row;
    }
}
.nav-item{
    list-style: none;
    padding-top: 30px;
    font-family:'Lucida Sans Regular', 'Lucida Grande';
    align-items: center;
    margin: auto;
    
    
}

